# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# XML / Config files
[*.{xml,json,yml,yaml,properties}]
indent_size = 2

# Gradle Kotlin DSL
[*.gradle.kts]
indent_size = 4